export OP_CACHE=false
export OP_ACCOUNT_DOMAIN="dtlrinc.1password.com"
export SECTION="$(if [ $(git symbolic-ref --short HEAD) == "main" ]; then echo ""; else echo "DEV/"; fi)"
export ADYEN_KEY="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Engineering/teiqglgp7xfuu5n25fj4hp2fny/${SECTION}credential)"
export ADYEN_ENDPOINT="$(if [ $(git symbolic-ref --short HEAD) == "main" ]; then echo "management-live.adyen.com"; else echo "management-test.adyen.com"; fi)"

export DB_USER="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Engineering/ixx22fiiif6p4q4g72n2dyxxka/username)"
export DB_PASSWORD="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Engineering/ixx22fiiif6p4q4g72n2dyxxka/password)"
export DB_HOST="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Engineering/ixx22fiiif6p4q4g72n2dyxxka/alias)"
export DB_PORT="$(op --account=${OP_ACCOUNT_DOMAIN} read op://Engineering/ixx22fiiif6p4q4g72n2dyxxka/port)"
export DB_NAME="$(case $(git symbolic-ref --short HEAD) in "main") echo "dtlr-prod" ;; "qa") echo "dtlr-qa" ;; *) echo "dtlr-dev" ;; esac)"
